@page "/"

<h1>NyelvÉsz</h1>

<div class="my-4 mr-5">
    <p>A <b>NyelvÉsz</b> egy magyar nyelvfeldolgozó szoftver, mely rendelkezik egy szóelemző és egy mondatelemző modullal, ezen kívül egy átfogó elméleti anyagrész is rendelkezésre áll, ha pedig letesztelnéd vagy felmérnéd a szó- vagy mondatelemző készségeidet a <b>Mérd fel a tudásod</b> menüpont alatt ezt is megteheted.</p>
</div>

<hr />

<div class="row my-4">
    <div class="col-5 vcenter">
        <h3>Szóelemző modul</h3>
        <ul>
            <li>Morfológiai elemzés</li>
            <li>Toldalékok elkülönítése: képzők, jelek és ragok</li>
            <li>Szótő meghatározása</li>
            <li>Szótő szófajának és toldalékok típusának meghatározása</li>
        </ul>
    </div>
    <div class="col">
        <img class="gif" src="/images/morph_v1.gif"
    </div>
</div>

<hr />

<div class="row my-4">
    <div class="col">
        <img class="gif" src="/images/synt_v1.gif"
    </div>
    <div class="col-5 vcenter">
        <h3>Mondatelemző modul</h3>
        <ul>
            <li>Szintaktikai elemzés</li>
            <li>Mondatrészek meghatározása: alany, állítmány, tárgy, határozó és jelző</li>
        </ul>
    </div>
</div>