@page "/"

<h1>NyelvÉsz</h1>

<p>A <b>NyelvÉsz</b> egy magyar nyelvfeldolgozó rendszer, amely két modulra osztható fel: szóelemző és mondatelemző modul.</p>
<p>A <b>szóelemző modul</b> bemenete egy vagy több szó, minden szóra elvégzi a morfológiai elemzést.</p>
<p>A <b>mondatelemző modul</b> még implementálásra vár.</p>
